<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zizohanto.android.tobuyList">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.zizohanto.android.tobuy.ToBuyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zizohanto.android.tobuy.ui.addedittobuylist.AddEditTobuyListActivity" />
        <activity android:name="com.zizohanto.android.tobuy.ui.tobuylistdetail.TobuyListDetailActivity" />
        <activity android:name="com.zizohanto.android.tobuy.ui.itemdetail.ItemDetailActivity" />
        <activity android:name="com.zizohanto.android.tobuy.ui.tobuylist.TobuyListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zizohanto.android.tobuy.ui.addedititem.AddEditItemActivity" />
        <service
            android:name="com.zizohanto.android.tobuy.widget.WidgetUpdateService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.zizohanto.android.tobuy.widget.TobuyListWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tobuy_list_widget_info" />
        </receiver>
    </application>

</manifest>